html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica";
}
a {
  color: #333;
  text-decoration: none;
}
nav {
  background-color: #fffeff;
  font-weight: bold;
  display: flex;
  border-bottom: #e1e1e1 solid;
  border-width: 1px;
}
nav a {
  margin-left: 200px;
  padding: 30px 30px;
  font-size: 18pt;
}

@media all and (max-width: 1000px) {
  nav {
    flex-wrap: wrap;
  }
  nav a {
    flex-basis: 100%;
  }
}
